@import '../../styles/config';

.action_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;

  // border: 1px solid black;
  border-radius: 5px;
  padding: 0 20px 20px 20px;

  // box-shadow: 2px 1px 9px darkgrey;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.17);
  background-color: white;
}

.title_container {
  margin: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  height: 35px;
  width: 100%;
  // margin-bottom: 10px;
  .create {
    background-color: $color-red;
    color: white;
  }
  .join {
    background-color: black;
    color: white;
  }
}
.title_box {
  display: flex;
  align-items: center;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
.title {
  // padding-left: 10px;
  text-align: center;
  // height: 20px;
  margin: 0;
  width: 100%;
}

.information_section {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 160px;

  margin-left: 10px;
}

.input_section {
  flex: 1;

  display: flex;
  flex-direction: column;
  min-width: 160px;

  margin-right: 10px;
  margin-top: 10px;
  // margin-bottom: 10px;
}

.button_section {
  margin-top: 20px;
  width: 100%;
  .button {
    width: 100%;
  }
}

.join {
  .button {
    border: 1px solid black !important;
    background-color: black !important;
    &:hover {
      background-color: white !important;
      color: black !important;
    }
  }
}
.create {
  .button {
    border: 1px solid $color-red !important;
    background-color: $color-red !important;
    &:hover {
      background-color: white !important;
      color: black !important;
    }
  }
}
