.action_container {
  // background-color: lightblue;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // margin: 0 auto;
  margin-bottom: 10px;

  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}
.title {
  height: 20px;
  width: 100%;
}

.information_section {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 160px;
}

.input_section {
  flex: 1;

  display: flex;
  flex-direction: column;
  min-width: 160px;
}

.button_section {
  margin-top: 10px;
  width: 100%;
  .button {
    width: 100%;
    &:hover {
      background-color: red !important;
      color: white !important;
    }
  }
}

.create {
  border: 1px solid red;
  .button {
    border: 1px solid black !important;
    &:hover {
      background-color: black !important;
      color: white !important;
    }
  }
}
