.action_container {
  // background-color: lightblue;
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  // margin: 0 auto;
  margin-bottom: 10px;
}
.title {
  height: 20px;
  width: 100%;
}

.information_section {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 160px;
}

.input_section {
  flex: 1;

  display: flex;
  flex-direction: column;
  min-width: 160px;
}

.button_section {
  margin-top: 10px;
  width: 100%;
  .button {
    width: 100%;
  }
}
