.container {
  padding: 2vh;
  // display: grid;
  // grid-template-columns: 1fr 16fr 1fr;
  // grid-template-rows: 1fr;
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;

  .content {
    padding: 50px;
    // grid-area: 1 / 2 / 2 / 3;
    background-color: #f4f4f4;

    border: 1px solid #000000;
    border-radius: 12px;
    height: 96vh;
  }
}
