.container {
  padding: 2vh;
  // display: grid;
  // grid-template-columns: 1fr 16fr 1fr;
  // grid-template-rows: 1fr;
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;

  .content {
    padding: 50px;
    // grid-area: 1 / 2 / 2 / 3;
    // background-color: #f4f4f4;
    background-color: #f4fff5;
    box-shadow: 0px 0px 15px #254440;

    border: 1px solid #254440;
    border-radius: 12px;
    height: 100%;
  }
}
